---
import FirstPart from '../components/FirstPart.astro';
import Layout from '../layouts/Layout.astro';
import SecondPart from '../components/SecondPart.astro';
import ThirdPart from '../components/ThirdPart.astro';
import FourthPart from '../components/FourthPart.astro';	
import BlurBackgroundComp from '../components/BlurBackgroundComp.astro';
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<div class="capa-1 colored-bg gradient-bg bg-gradient-to-r from-violet-900 to-blue-900">
			<BlurBackgroundComp/>
		</div>		
	<div class=" w-[100vw] overflow-x-hidden touch-pan-y overflow-y-scroll snap-y snap-mandatory scroll-smooth">
		
			<FirstPart/>				
			<SecondPart lang="es" />
			<ThirdPart lang="es" />
		
		<FourthPart lang="es" />
	</div>
</Layout>

<style>
	
.capa-1{
	height: 300svh;
	z-index: -1;
	position: absolute;
	top:0;
	width: 100vw;
}
  

</style>