---
import FirstPart from '../components/FirstPart.astro';
import Layout from '../layouts/Layout.astro';
import SecondPart from '../components/SecondPart.astro';
import ThirdPart from '../components/ThirdPart.astro';
import FourthPart from '../components/FourthPart.astro';	
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<div class="colored-bg">
	<FirstPart />
	<SecondPart />
	<ThirdPart />
	</div>
	<FourthPart />
</Layout>

<style>
		 .colored-bg{
    min-height: 100vh;
    background: linear-gradient(115deg, #6d3bd1 0%, #7b4ae3 35%, #1b3c8f 100%);
  }
</style>