	<div class="blur-class blur1"></div>
			<div class="blur-class blur2"></div>
			<div class="blur-class blur3"></div>

<style>
 .blur-class{
	width: 700px;
	height: 200px;
	filter: blur(80px);

}
  .blur1{
	position:absolute;
	background: rgba(255, 140, 90, 0.8);
	left:1%;
	bottom:20%;
	
	
  }
  .blur2{
	position:absolute;
	 background: rgba(125, 199, 102, 0.7);
	left:3%;
	bottom:80%;
	 
  }
    .blur3{
	position:absolute;
	background: rgba(70, 120, 255, 0.7);
	right:5%;
	bottom:5%;
	
	
  }


</style>