---
import Header from "../components/Header.astro"
import { Image } from "astro:assets";
import Layout from "./Layout.astro";
import SmallIconsComp from "../components/SmallIconsComp.astro";
---

    <section class="flex flex-col w-full gap-2 box-border justify-center relative items-center">
        <Header position="absolute bg-transparent invert pt-6 top-0  z-1 " logoColorVariant=" invert" textColor="text-black"/>
            <slot/>
        <button class="px-4  w-[40vw] sm:text-sm mb-4 font-bold hover:border-[#9CA2AE] text-[#9CA2AE] hover:text-white 
                    bg-white hover:bg-[#9CA2AE] border-solid border-[#9CA2AE] border-2px py-[0.5vw] text-lg  hover:cursor-pointer">Conectemos</button>
                    <SmallIconsComp variant="gray" />
                    <footer class="flex my-8 text-gray-400 flex-col font-[200] items-center">
                        <p class="m-0">Copyright @ 2025 Inventario Panamá</p>             
                        <p class="m-0">a GWT partner.</p>
                    </footer>
    </section>